
body{
    text-align: center;
}
.services{
    position: relative;
    
}
.contact{
    position: relative;
}
.forms{
    margin-bottom: 20%;
}
#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}